.header {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

#t_area {
	margin-top: 10px;
    margin-bottom: 10px;
	border: 2px solid #765942;
	border-radius: 10px;
    resize: none;
}